body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.address h1, .invoice h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.address p, .invoice p {
  margin: 4px 0;
  color: #333;
}

.details {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.details h2 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.details p {
  margin: 0;
  color: #555;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.invoice-table th, .invoice-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.invoice-table .tr {
  color: #333;
}
.invoice-table th {
  background-color: #f5f5f5;
  font-weight: 500;
  color: rgb(12, 97, 158);
}

.notes {
  margin-top: 20px;
  font-size: 17px;
}

.notes h2 {
  font-size: 21px;
  font-weight: 600;
  color: #333;
}

.notes p {
  color: #666;
}

.summary {
  text-align: right;
  margin-top: 20px;
}

.summary p {
  margin: 4px 0;
}

.amount-payable {
  font-weight:600;
  color: #3f3f3f;;
}

.paid {
  color: #3f3f3f;
  font-weight: 400;
}

.badge {
  position: absolute;
  top: 24px;
  left: -10px;
  background-color: #ffffff;
  box-shadow: inset;
  color: #b58900;
  padding: 8px 20px;
  font-weight: bold;
  transform: rotate(-45deg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
